.header {
   position: fixed;
   height: 120px;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 11;
}

.sticky {
   height: 60px;
   background-color: var(--primary-color);
}

.header__navbar {
   width: 100%;
   height: 100%;
   position: absolute;
}

                                                      /* LOGO + ICON MENU HOVER */

.header__navbar-icon-menu {
   position: absolute;
   cursor: pointer;
   width: 70px;
   height: 100%;
   transition: all 0.5s;
   z-index: 1;
}

.sticky .header__navbar-icon-menu {
   height: 60px;
   transition: all 0.5s;
}

.line  {
  z-index: 1;
  transition: width .15s ease-in-out,transform .15s ease-in-out;
    transition-property: width, transform;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

.header__navbar-icon-menu:hover .two {
   transition-delay: 0.05s;
   width: 16px;
}

.header__navbar-icon-menu:hover .three {
   transition-delay: 0.1s;
   width: 12px;
}

.one, .two, .three {
   position: absolute;
   background: #565656;
   width: 20px;
   height: 4px;
   right: 10px;   
}

.one {
   top: calc(50% - 10px); 
}

.two {
   top: calc(50% - 2px);
}

.three {
   top: calc(50% + 6px);
}

.header__navbar-logo-wrap {
   position: absolute;
   width: 230px;
   height: 100%;
   background: var(--primary-color);
   padding-left: 70px;
}

.sticky .header__navbar-logo-wrap {
   width: 170px;
}

.header__navbar-logo {
   width: 100%;
   height: 120px;
   padding: 0;
   margin: 0;
   float: left;
   overflow: hidden;
   box-shadow: 0 4px 6px transparent;
   transition: height .3s cubic-bezier(0,1,.5,1),box-shadow .3s ease-in-out;
   transition-property: height, box-shadow;
   transition-duration: 0.3s, 0.3s;
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1), ease-in-out;
   transition-delay: 0s, 0s; 
}

.sticky .header__navbar-logo {
   height: 60px;
   transition-duration: 0s;
}

.header__navbar-logo-up {
   position: relative;
   width: 100%;
   height: 120px;
   background: var(--primary-color);
   list-style: none;
}

.sticky .header__navbar-logo-up {
   width: 96px;
   height: 60px;
}

.header__navbar-logo-up-link {
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url(/assets/img/Icon1000__logo.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 50px;
   transition: 0.5s;
}

.sticky .header__navbar-logo-up-link {
   background-size: 40px;
}

.header__navbar-logo-wrap ul:focus, .header__navbar-logo-wrap ul:hover {
   height: 240px;
   box-shadow: 0 4px 6px rgb(0 0 0 / 25%);
} 

.sticky .header__navbar-logo-wrap ul:focus, .sticky .header__navbar-logo-wrap ul:hover {
   height: 120px;
   box-shadow: 0 4px 6px rgb(0 0 0 / 25%);
} 



.header__navbar-logo-wrap ul:focus a, .header__navbar-logo-wrap ul:hover a {
   transform: scale(0.95);
   transition: transform .15s ease-in-out;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.header__navbar-logo-wrap ul:focus a:hover, .header__navbar-logo-wrap ul:hover a:hover {
   transform: scale(1);
}

.header__navbar-logo-down {
   position: relative;
   width: 160px;
   height: 120px;
   background: var(--black-color);
   list-style: none;
   overflow: hidden;
}

.header__navbar-logo-down-link {
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url(/assets/img/Logo_down.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 125px;
} 


.sticky .header__navbar-logo-down {
  width: 100%;
  height: 60px;
}

.sticky .header__navbar-logo-down-link {
   background-size: 90px;
}

.proactive {
   width: 100%;
   height: 60px;
}

                                          
                                                           /* OPTION OF NAVBAR */

.header__navbar-option-wrap {
   position: absolute;
   height: 100%;
   width: calc(100% - 229px);
   margin-left: 229px;
   justify-content: space-between;
   align-items: center;
   transition: all 0.3s;
}

.sticky .header__navbar-option-wrap {
   width: calc(100% - 170px);
   margin-left: 170px;
}

.header__navbar-option-wrap ul {
   display: inline-block;
   margin: 0;
   padding-left: 50px;
   transition: all 0.2s;
}

.sticky .header__navbar-option-wrap ul {
   padding-left: 0;
}

.header__navbar-option-wrap ul li a {
   height: 100%;
   text-transform: uppercase;
   color: var(--white-color);
   letter-spacing: 0.7rem;
   display: table-cell;
   vertical-align: middle;
   font-size: 1rem;
   font-weight: 800;
}

.header__navbar-option-left {
   height: 100%;
}

.header__navbar-item-wrap {
   position: relative;
   display: table;
   height: 100%;
}

.header__navbar-item-wrap::after {
   content: "";
   position: absolute;
   height: 0;
   width: 16px;
   background-color: var(--white-color);
   bottom: 30%;
   right: 50%;
   transition: 0.2s;
}

.bonus .header__navbar-item-wrap::after {
   height: 4px;
}

.header__navbar-item-wrap:hover:after {
   height: 4px;
}

.sticky .header__navbar-item-wrap::after {
   bottom: 20%;
}

.header__navbar-item {
   height: 100%;
   list-style: none;
   padding: 0 50px;
   display: inline-block;
}

.header__navbar-item-link {
   text-decoration: none;
}

.header__navbar-option-right {
   float: right;
   height: 100%;
}

.header__navbar-option-right li:first-child {
   padding-left: 0;
}


.header__navbar-item-link--ti-search {
   font-size: 1.5rem;
   font-weight: 900 !important;
}

                                        /* SINGLE_MEDIA_PRODUCT DESCRIBE */

.main__media {
  position: relative;
}

.main__media-container {

}

.main__media-reveal {
   position: relative;
   background: var(--black-color);
   float: left;
   width: 100%;
   height: 56.25vw;
   max-height: calc(100vh - 5px);
   overflow: hidden;
}

.main__media-reveal::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: linear-gradient(-90deg, rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,.4));
}


.main__media-single-wrap {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 3;
}

.main__media-single {
   position: relative;
   float: left;
   max-width: 560px;
   height: 100%;
   display: table;
}

.main__media-single-info {
   height: 100%;
   width: 100%;
   padding: 0 56px;
   display: table-cell;
   vertical-align: middle;
}

.main__media-single-info {
}

.main__media-single-info h5, h1, a {
   text-transform: uppercase;
}

.main__media-single-subheading {
   margin: 0;
   color: var(--white-color);
   font-size: 2.5rem;
   font-weight: 400;
   line-height: 4rem;
   opacity: 0;
   filter: blur(20px);
   transform: translateX(-100px);
   animation: revealText 0.3s 1.25s forwards cubic-bezier(0, 0.5, 0.25, 1);
}

.main__media-single-product { 
   margin: 0;
   color: var(--white-color);
   font-size: 6rem;
   font-weight: 400;
   line-height: 6rem;
   opacity: 0;
   filter: blur(20px);
   transform: translateX(-100px);
   animation: revealText 0.3s 1s forwards cubic-bezier(0, 0.5, 0.25, 1);
}

.main__media-single-content {
}

.main__media-single-content-des p {
   color: white;
   opacity: 0;
   filter: blur(20px);
   transform: translateX(-100px);
   animation: revealText 0.3s 1.5s forwards cubic-bezier(0, 0.5, 0.25, 1);
}

.main__media-single-content-link {
   position: relative;
   display: inline-block;
   margin-top: 40px;
   padding-top: 10px;
   padding-bottom: 8px;
   padding-left: 5px;
   font-size: 1.4rem;
   letter-spacing: 4px;
   line-height: 1rem;
   font-weight: 700;
   text-decoration: none;
   color: white;
   opacity: 0;
   filter: blur(20px);
   transform: translateX(-100px);
   animation: revealText 0.3s 1.75s forwards cubic-bezier(0, 0.5, 0.25, 1);
}

.main__media-single-content-link::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
}

.main__media-single-content-link:hover {
   color: var(--primary-color);
}

.main__media-single-content-link:hover:before {
   width: 35px;
}

.main__media-single-product-background {
   background-image: url(/assets/img/Background.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 100%;
   width: 100%;
}

.main__media-reveal:hover .main__media-single-product-background {
   transform: scale(1.02);
   transition-duration: 2.75s;
}

                                           /* TOP SIGN UP */

.main__signup-top {
   float: left;
   width: 100%;
   padding: 100px 20px;
   background-color: #1f1f1f;
   text-align: center;
}

.main__signup-top .main__signup-top-wrap h2, div {
   color: var(--white-color);
   text-transform: uppercase;
}

.reveal {
   opacity: 0;
   
}

.active {
   opacity: 0;
   transform: translateY(10px);
   animation: slideUp 1.5s forwards;
}


.main__signup-top-heading {
   font-size: 4rem;
   font-weight: 400;
   line-height: 4rem;
}


.main__signup-top-subheading {
   display: inline-block;
   margin-top: 8px;
   margin-bottom: 20px;
   color: #bdbdbd;
   font-size: 1.6rem;
   font-weight: 700;
   line-height: 1.5rem;
}


.main__signup-top-form {

}

.main__signup-top-field {
   width: 482px;
   max-width: calc(100% - 53px);
   padding: 15px 20px;
   font-size: 1.5rem;
   color: var(--white-color);
   background-color: #303030;
   -webkit-border-radius: 0;
   -webkit-appearance: none;
   outline: 0;
   border: none;
   letter-spacing: 1.5px;
}

.main__signup-top-send {
   position: relative;
   left: -3.2px;
   padding: 15px 25px;
   background-color: #303030;
   outline: 0;
   border: none;
   font-size: 1.5rem;
   text-indent: -9999px;
   overflow: hidden;
   background-image: url(https://scontent.fvca1-2.fna.fbcdn.net/v/t1.15752-9/79087086_589877518487898_8062509975236247552_n.png?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=fHvkT3vCYGEAX8VJ0Ha&_nc_ht=scontent.fvca1-2.fna&oh=36b1692253bfca30cb3e6b286b428d23&oe=61418EEC);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 25px;
   vertical-align: top;
}

                                /* PRODUCTION LIST */

.main__product-option {
   position: relative;
   width: 100%;
   float: left;
}

.main__product-list {
   position: relative;
   max-width:  1688px;
   margin: auto;
   overflow: hidden;
}

/* .main__product-content-describe {

} */

.main__product-content-wrap {
   padding: 60px 0;
   padding-left: 600px;
}

.main__product-content-option {
   padding-left: 0;
   padding-right: 30px;
   padding-top: 60px;
   padding-bottom: 60px;
}

.main__product-content-list {
   width: 100%;
   list-style: none;
}

.main__product-content-option-link {
   width: 100%;
}

.main__product-content-option-link-img {
   max-width: 100%;
   max-height: 100%;
   padding-left: 15px;
   padding-right: 15px;
   background-color: #fff;
}

.main__product-content-info {
   position: absolute;
   top: 50%;
   width: 482px;
   left: 0;
   padding-left: 90px;
   padding-right: 50px;
   transform: translateY(-50%);
}

.main__product-content-info h2, h5, p, a {
   color: var(--text-color);
}

.main__product-content-info-wrap {

}

.main__product-content-info-heading {
   font-size: 4rem;
   font-weight: 400;
   line-height: 4rem;
   margin-bottom: 10px;
}

.main__product-content-info-subheading {
   font-size: 1.4rem;
   line-height: 2rem;
   font-weight: 500;
   letter-spacing: 1.8px;
   margin-top: 10px;
   margin-bottom: 15px;
   color: #929292cc;
}

.main__product-content-info p {
   text-transform: initial;
   line-height: 3rem;
   font-size: 1.5rem;
}

.main__product-content-info-wrap {
   opacity: 0;
   transform: translateX(-20px);
}

.main__product-content-info-link {
   position: relative;
   display: inline-block;
   margin-top: 25px;
   padding-top: 10px;
   padding-bottom: 8px;
   padding-left: 5px;
   font-size: 1.4rem;
   letter-spacing: 4px;
   line-height: 1rem;
   font-weight: 600;
   text-decoration: none;
   color: var(--black-color);
}

.main__product-content-info-link:hover {
   color: var(--primary-color);
}

.main__product-content-info-link:hover:before {
   width: 35px;
}
.main__product-content-info-link::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
}

.appear {
   animation: runFromLeft 1.75s 0.2s forwards cubic-bezier(0, 0.5, 0.25, 1);
}

.appear1 {
   animation: runFromRight 1.75s 0.2s forwards cubic-bezier(0, 0.5, 0.25, 1);
}

                                                       /* STORE  */

.main__store {
   /* position: relative; */
   width: calc(100% / 3);
   height: 22vw;
   float: left;
}

.main__store-link {
   /* position: absolute; */
   position: relative;
   width: 100%;
   height: 100%;
   display: table;
   text-decoration: none;
   overflow: hidden;
}

.main__store-link-des {
   /* position: absolute; */
   width: 100%;
   height: 100%;
   display: table-cell;
   vertical-align: middle;
}

.main__store:hover .main__store-link-des {
   background-color: var(--black-color);
}
.main__store-link-des-wrap {
   /* position: absolute; */
   position: relative;
   width: 100%;
   text-align: center;
   opacity: 0;
   z-index: 2;
}

.revealDelay {
   opacity: 0;
   transform: translateY(50px);
   animation: revealDelay 1s 0.1s forwards cubic-bezier(0, 0.5, 0.25, 1);
}

.main__store-link-des-heading {
   font-size: 4rem;
   line-height: 4rem;
   font-weight: 400;
   letter-spacing: 3px;
}

.main__store-link-des-itemName {
   position: relative;
   display: inline-block;
   margin-top: 20px;
   padding-top: 10px;
   padding-bottom: 8px;
   padding-left: 5px;
   font-size: 1.4rem;
   letter-spacing: 4px;
   line-height: 2rem;
   font-weight: 500;
}

.main__store:hover .main__store-link-des-itemName {
   color: var(--primary-color);
}

.main__store-link-des-itemName::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
}

.main__store:hover .main__store-link-des-itemName:before {
   width: 35px;
} 

.main__store-link-background {
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url(/assets/img/backgroundStore.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   transform: scale(1);
   transition: all 0.5s;
}

.main__store-link-background::after {
   content: "";
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.1);
   transition: all 0.5s;
}

.main__store:hover .main__store-link-background:after {
   background-color: rgba(0, 0, 0, 0.2);
}

.main__store:hover .main__store-link-background {
   transform: scale(1.02);
}

                                        /* RECRUITMENT */
                                        
.main__recruit {
   width: 100%;
   height: 456px;
   float: left;
   background-color: #1f1f1f;
   opacity: 0;
   transition: all 0.2s;
}

.main__recruit-des {
   position: relative;
   height: 100%;
}

.main__recruit-background {
   position: absolute;
   height: 100%;
   width: 50%;
   background-image: url(/assets/img/recruit__job.jpg);
   background-image: url(https://s3-us-west-2.amazonaws.com/iconmotosports/lifestyle/_wFull/IconCareersMainFeature2.jpg?mtime=20160819090606);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.main__recruit-job {
   position: relative;
   display: table;
   width: 50%;
   padding: 112px;
   float: right;
}

.main__recruit-job-wrap {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   opacity: 0;
}

.main__recruit-job-heading {
   color: var(--white-color);
   font-size: 4rem;
   font-weight: 400;
   line-height: 4rem;
   letter-spacing: 3px;
}

.main__recruit-job-subheading {
   color: var(--white-color);
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 2rem;
   margin-top: 20px;
   letter-spacing: 2px;
   color: #ccc;
}

.main__recruit-job-content {
   color: var(--white-color);
   line-height: 3rem;
   font-size: 1.4rem;
   text-transform: initial;
}

.main__recruit-job-link {
   position: relative;
   display: inline-block;
   margin-top: 20px;
   padding-top: 10px;
   padding-bottom: 8px;
   padding-left: 5px;
   font-size: 1.4rem;
   letter-spacing: 4px;
   line-height: 2rem;
   font-weight: 500;
   text-decoration: none;
   color: var(--white-color);
}

.main__recruit-job-link:hover {
   color: var(--primary-color);
}

.main__recruit-job-link::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
}

.main__recruit-job-link:hover:before {
   width: 35px;
}

.BlurDelay {
   opacity: 0;
   animation: BlurDelay 1s forwards linear;
}

                                       /* NEWS */

.main__news {
   float: left;   
   background-color: #1f1f1f;
   width: 100%;
   text-align: center;
}

.main__news-icon {
   margin-top: 90px;
   padding-bottom: 70px;
}

.main__news-icon svg {
   background-color: white;
   width: 190px;
   height: 40px;
   border-radius: 5px;
}

.main__news-heading-link {
   text-decoration: none;
}

.main__news-heading {
   font-size: 14rem;
   line-height: 16rem;
   color: var(--white-color);
   font-weight: 400;
   letter-spacing: 14px;
   opacity: 0;
}

.main__news-sudheading {
   font-size: 2rem;
   font-weight: 400;
   line-height: 2rem;
   color: #7d7d7d;
   opacity: 0;
}

.main__news-separation {
   height: 150px;
   width: 1px;
   background-color: rgb(102, 102, 102);
   display: inline-block;
   margin: 60px 0px;
   opacity: 0;
}

.main__news-section {
   width: 100%;
   float: left;
   height: 62.5vw;
}

.main__news-section-link-left {
   position: relative;
   width: 50%;
   height: 100%;
   float: left;
   text-align: initial;
}

.main__news-section-wrap {
   height: 100%;
}

.main__news-section-background {
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url(/assets/img/newsBackground1.jpg);
   background-image: url(https://s3-us-west-2.amazonaws.com/iconmotosports/lifestyle/icon/_wFull/unspecified-1.jpg?mtime=20200413161014);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.main__news-section-background::after {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   transition: all 0.2s;
}

.mains__news-section-title {
   position: absolute;
   width: 100%;
   float: left;
   bottom: 0;
   padding: 0 90px 60px;
   opacity: 0;
}

.main__news-section-heading {
   font-size: 4rem;
   line-height: 4rem;
   font-weight: 400;
   letter-spacing: 1.5px;
}

.main__news-section-sudheading {
   color: var(--white-color);
   font-size: 1.9rem;
   font-weight: 300;
   line-height: 2.5rem;
   letter-spacing: 2px;
   margin-top: 5px;
}

.main__news-section-link-left:hover .main__news-section-background:after {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}

                         /* NOTABLE NEWS */

.main__news-notable { 
   position: relative;
   width: 100%;
   text-align: center;
   padding: 140px 56px;
   float: left;
   opacity: 0;
}

.main__news-notable-heading {
   color: #444;
   font-size: 4rem;
   font-weight: 400;
   line-height: 5rem;
   margin-bottom: 15px;
}

.main__news-notable-subheading {
   font-size: 1.5rem;
   font-weight: 400;
   letter-spacing: 1.2px;
   color: #292929;
}

.main__news-notable-content {
   text-transform: initial;
   font-size: 1.5rem;
   line-height: 2.5rem;
}

.main__news-notable-content p {
   color: #616161;
}

.main__news-notable-link {
   position: relative;
   display: inline-block;
   margin-top: 20px;
   padding-top: 10px;
   padding-bottom: 8px;
   padding-left: 5px;
   font-size: 1.4rem;
   letter-spacing: 4px;
   line-height: 2rem;
   font-weight: 900;
   text-decoration: none;
}

.main__news-notable-link:hover {
   color: var(--primary-color);
}

.main__news-notable-link::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
}

.main__news-notable-link:hover:before {
   width: 35px;
}


                                 /* MAIN FOOTER */

.main__footer {
   float: left;
   width: 100%;
}

.main__footer a {
   text-decoration: none;
}

.main__footer li {
   list-style: none;
}

.main__footer-wrap {
   max-width: 1120px;
   margin: auto;
   padding-left: 30px;
   padding-right: 30px;
}

.main__footer-summary {
   width: 100%;
   padding: 100px 0;
   clear: both;
   display: table;
}

.main__footer-summary-wrap {
   float: left;
}

.main__footer-summary-heading {
   margin-bottom: 20px;
}

.main__footer-summary-heading-link {
   color: var(--primary-color);
   font-size: 1.2rem;
   font-weight: 800;
   letter-spacing: 1.2px;
   line-height: 2rem;
} 

.main__footer-summary-heading-link:hover {
   color: #94884d;
}

.main__footer-summary-option {
   display: inline-block;
   width: 150px;
   text-align: initial;
   margin-right: 25px;
   float: left;
}

.main__footer-summary-item {
   line-height: 3rem;
}

.main__footer-summary-item-link {
   text-transform: initial;
   font-size: 1.26rem;
   font-weight: 400;
   color: #888;
}

.main__footer-summary-item-link:hover {
   color: var(--black-color);
}

.main__footer-send-separation {
   height: 100%;
}

.main__footer-send {
   float: right;
}

.main__footer-send-heading {
   color: var(--primary-color);
   font-size: 1.2rem;
   font-weight: 800;
   letter-spacing: 1.2px;
   line-height: 2rem;
   margin-bottom: 20px;
}

.main__footer-send-subheading {
   color: var(--text-color);
   line-height: 3.5rem;
   font-size: 3rem;
   font-weight: 400;
   letter-spacing: 2px;
}

.main__footer-send-subheading:nth-child(3) {
   margin-bottom: 5px;
}

.main__footer-send-form {
   margin-top: 50px;
}

.main__footer-send-from-wrap {
   border-bottom: 6px solid #292929;
   height: 36px;
   float: left;   
}

.main__footer-send-from-field {
   position: relative;
   border: none;
   font-size: 1.5rem;
   font-weight: 600;
   line-height: 2rem;
   width: 250px;
}

.main__footer-send-from-btn {
   color: var(--primary-color);
   background-color: none;
   background-color: transparent;
   cursor: pointer;
   font-weight: 700;
   outline: none;
   border: none;
}

.main__footer-connect { 
   clear: both;
   width: 100%;
   display: table;
   margin-bottom: 100px;
}

.main__footer-connect-wrap {

}

.main__footer-connect-logo {
   float: left;
}

.main__footer-connect-logo-link {

}

.main__footer-connect-moreinfo {
   display: table;
   width: 100%;
   float: left; 
   margin-bottom: 16px;
}

.main__footer-connect-moreinfo-social {
   float: right;
}

.main__footer-connect-moreinfo-social-option {

} 

.main__footer-connect-moreinfo-social-item {
   display: inline-block;
   margin-right: 20px;
}

.main__footer-connect-moreinfo-social-item:last-child {
   margin-right: 0;
}

.main__footer-connect-moreinfo-social-link {

}

.main__footer-connect-moreinfo-proclaim {
   float: right;
}

.main__footer-connect-moreinfo-proclaim-option {

}

.main__footer-connect-moreinfo-proclaim-item {
   display: inline-block;
   position: relative;
}

.main__footer-connect-moreinfo-proclaim-item::after {
   content: "";
   position: absolute;
   height: 76%;
   width: 2px;
   background-color: var(--black-color);
   bottom: 14%;
}

.main__footer-connect-moreinfo-proclaim-item:last-child:after {
   display: none;
}

.main__footer-connect-moreinfo-proclaim-item:last-child  a{
   margin-right: 0;
}

.main__footer-connect-moreinfo-proclaim-link {
   text-transform: initial;
   margin: 0 10px;
   color: #4a4a4a;
}

.main__footer-connect-moreinfo-proclaim-link:hover {
   color: var(--black-color);
}

.main__footer-connect-ending {
   display: table;
   float: left;
   width: 100%;
}

.main__footer-connect-ending h5 {
   float: left;
}

.overplay {
   position: fixed;
   top: 120px;
   transition: width 0s .25s,height 0s .25s;
   width: 0;
   height: 0;
   z-index: 10;
}

.show {
   width: 100%;
   height: 100%;
   transition-delay: 0s;
}

.the-gear {
   display: none;
}

.the-gear a, li {
   text-decoration: none;
   list-style: none;
}

.the-gear-wrap {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 65%;
}

.the-gear-list {
   float: left;
   width: 62%;
   padding-top: 40px;
   transition: all 0.2s;
}

.the-gear-list-option {
   float: left;
   width: 25%;
   padding-left: 40px;
   max-width: 284px;
   min-height: 284px;
   margin-top: 0;
   margin-bottom: 80px;

}

.the-gear-list-item-subheanding {
   
}

.the-gear-list-option-subheanding-text {
   margin-bottom: 8px;
}

.the-gear-list-option-subheanding-text-link {
   color: var(--primary-color);
   line-height: 4rem;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 1.4rem;
}

.the-gear-list-option-item-wrap {

}

.the-gear-list-item {
   
}

.the-gear-list-link {
   color: #c9c0c0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.6rem;
    text-transform: initial;
}

.the-gear a:hover, li:hover {
   color: var(--width-color);
}

.the-gear-main-link {
   float: right;
   position: absolute;
   background-image: url(https://s3-us-west-2.amazonaws.com/iconmotosports/lifestyle/icon1000/Upstate-riding-shirt.jpg?mtime=20200408150201);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 33%;
   height: 27vw;
   right: 0;
}

.the-gear-main-link-wrap {
   position: absolute;
    bottom: 25px;
    left: 30px;
    z-index: 1;
}

.the-gear-main-link-heading {
   font-size: 4rem;
    line-height: 5rem;
    margin-top: 30px;
    margin-bottom: 6px;
    font-weight: 500;
    letter-spacing: 6px;
}

.the-gear-main-link-subheading {
   position: relative;
   font-size: 1.4rem;
    letter-spacing: 4px;
    color: var(--white-color);
    line-height: 3rem;
    margin-top: 20px;
    float: left;
}

.the-gear-main-link::after {
   content: "";
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   transition: all 0.5s;
}

.the-gear-main-link:hover:after {
   background-color: rgba(0, 0, 0, 0.6);
}

.the-gear-main-link-subheading::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
   margin-bottom: 5px;
   top: -10%;
}

.the-gear-main-link:hover .the-gear-main-link-subheading:before {
   width: 35px;
} 

.the-ride {
   display: none;
}

.the-ride a, li {
   text-decoration: none;
   list-style: none;
}

.the-ride-wrap {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 65%;
}

.the-ride-list {
   float: left;
   width: 33%;
   padding-top: 40px;
   transition: all 0.2s;
}

.the-ride-list-option {
   float: left;
   width: 100%;
   padding-left: 40px;
   height: 100%;
   margin-top: 0;
   margin-bottom: 80px;
   padding-left: 33%!important;
}

.the-ride-list-item-subheanding {
   
}

.the-ride-list-option-subheanding-text {
   margin-bottom: 8px;
}

.the-ride-list-option-subheanding-text-link {
   color: var(--primary-color);
   line-height: 4rem;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 1.4rem;
}

.the-ride-list-option-item-wrap {

}

.the-ride-list-item {
   
}

.the-ride-list-link {
   color: #c9c0c0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.6rem;
    text-transform: initial;
}

.the-ride a:hover, li:hover {
   color: var(--width-color);
}

.the-ride-main-link {
   float: right;
   position: absolute;
   background-image: url(https://s3-us-west-2.amazonaws.com/iconmotosports/videos/poster/Icon1000TheRideEverythingIsProcessMainFeature.jpg?mtime=20160806094222);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 33%;
   height: 27vw;
   right: 0;
}

.the-ride-main-link-wrap {
   position: absolute;
    bottom: 25px;
    left: 30px;
    z-index: 1;
}

.the-ride-main-link-heading {
   font-size: 4rem;
    line-height: 5rem;
    margin-top: 30px;
    margin-bottom: 6px;
    font-weight: 500;
    letter-spacing: 6px;
}

.the-ride-main-link-subheading {
   position: relative;
   font-size: 1.4rem;
    letter-spacing: 4px;
    color: var(--white-color);
    line-height: 3rem;
    margin-top: 20px;
    float: left;
}

.the-ride-main-link::after {
   content: "";
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   transition: all 0.5s;
}

.the-ride-main-link:hover:after {
   background-color: rgba(0, 0, 0, 0.6);
}

.the-ride-main-link-subheading::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
   margin-bottom: 5px;
   top: -10%;
}

.the-ride-main-link:hover .the-ride-main-link-subheading:before {
   width: 35px;
} 

.the-brand {
   display: none;
}

.the-brand a, li {
   text-decoration: none;
   list-style: none;
}

.the-brand-wrap {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 65%;
}

.the-brand-list {
   float: left;
   width: 33%;
   padding-top: 40px;
   transition: all 0.2s;
}

.the-brand-list-option {
   float: left;
   width: 100%;
   padding-left: 40px;
   height: 100%;
   margin-top: 0;
   margin-bottom: 80px;
   padding-left: 33%!important;
}

.the-brand-list-item-subheanding {
   
}

.the-brand-list-option-subheanding-text {
   margin-bottom: 8px;
}

.the-brand-list-option-subheanding-text-link {
   color: var(--primary-color);
   line-height: 4rem;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 1.4rem;
}

.the-brand-list-option-item-wrap {

}

.the-brand-list-item {
   
}

.the-brand-list-link {
   color: #c9c0c0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.6rem;
    text-transform: initial;
}

.the-brand a:hover, li:hover {
   color: var(--width-color);
}

.the-brand-main-link {
   float: right;
   position: absolute;
   background-image: url(https://s3-us-west-2.amazonaws.com/iconmotosports/lifestyle/Icon1000AboutUsMainFeature.jpg?mtime=20160806114735);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 33%;
   height: 27vw;
   right: 0;
}

.the-brand-main-link-wrap {
   position: absolute;
    bottom: 25px;
    left: 30px;
    z-index: 1;
}

.the-brand-main-link-heading {
   font-size: 4rem;
    line-height: 5rem;
    margin-top: 30px;
    margin-bottom: 6px;
    font-weight: 500;
    letter-spacing: 6px;
}

.the-brand-main-link-subheading {
   position: relative;
   font-size: 1.4rem;
    letter-spacing: 4px;
    color: var(--white-color);
    line-height: 3rem;
    margin-top: 20px;
    float: left;
}

.the-brand-main-link::after {
   content: "";
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   transition: all 0.5s;
}

.the-brand-main-link:hover:after {
   background-color: rgba(0, 0, 0, 0.6);
}

.the-brand-main-link-subheading::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 3px;
   background: var(--primary-color);
   transition: all 0.3s;
   transform-origin: center center;
   margin-bottom: 5px;
   top: -10%;
}

.the-brand-main-link:hover .the-brand-main-link-subheading:before {
   width: 35px;
} 

.zone-hidden {
   position: absolute;
    top: 31vw;
    left: 0;
    width: 100%;
    height: 73vh;
}

.cover-main  {
   position: absolute;
   top: -120px;
   background: linear-gradient(to bottom,rgba(0,0,0,.95) 0,rgba(0,0,0,.95) 40%,rgba(0,0,0,.8) 100%);
   height: 120%;
   width: 100%;
}

